<html ng-app="DTOx">
    <head>
        <title>DTOx</title>

        <link rel="stylesheet" href="//codemirror.net/lib/codemirror.css">
        <link rel="stylesheet" type="text/css" href="//angular-ui.github.com/angular-ui/build/angular-ui.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">








        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>

        <script src="//codemirror.net/lib/codemirror.js"></script>





        <script src="//codemirror.net/addon/edit/matchbrackets.js"></script>
        <script src="//codemirror.net/mode/htmlmixed/htmlmixed.js"></script>
        <script src="//codemirror.net/mode/xml/xml.js"></script>
        <script src="//codemirror.net/mode/javascript/javascript.js"></script>
        <script src="//codemirror.net/mode/css/css.js"></script>
        <script src="//codemirror.net/mode/clike/clike.js"></script>
        <script src="//codemirror.net/mode/php/php.js"></script>
        <script src="//angular-ui.github.com/angular-ui/build/angular-ui.js"></script>



        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
