{% extends 'default.html.twig' %}
{% block content %}
<header>
    <div class="row">
        <div class="span6">
            <h1>DTOx</h1>
            <p class="lead">DTOx is a program that lets you create DTOs.</p>
        </div>
    </div>
</header>
{% endblock %}
