.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.vars input[type=text] {
    height: 28px;
}

.title h1{
    font-size: 62px;
}
